%header.project-banner
  .image-wrapper
    = image_tag('hues_and_views/hv-koblenz-2014.JPG')
  %section.banner
    %h1 Hues & Views
    %h5.half-opacity March 2014 - Present
    %p
      An art project grown out of observation and inspiration of the
      beautiful and lived enviroment, I began to create urban sketches of
      places I encountered in my Moleskin notebook. Armed with a few Micron
      pens and markers, here are the results.

%section.project-body
  %aside.sidebar-a
    %header
      %h5 Tools Used
      %ul
        %li Micron Pens 005
  %article.main-column
    %h4 Drawing what is seen
    %p
      Since moving to San Francisco in early 2014, I instantly fell in love
      with the city and with the beautiful victorian architecture, the
      diversity of people I saw around me, and the neighboring natural
      monuments.
