%header.project-banner
  .image-wrapper
    = image_tag('hues_and_views/hv-koblenz-2014.JPG')
  %section.banner
    %h1 Hues & Views
    %h5.half-opacity March 2014 - Present
    %p
      This is an art project inspired by my environment.

%section.project-body
  %aside.sidebar-l
    -# .sidebar-set
    -#   =link_to 'Visit website', 'http://huesandviews.tumblr.com', class: 'button'
    .sidebar-set
      %header
        %h5 Tools Used
        %ul
          %li= link_to 'Micron Pens 005', 
            'http://www.dickblick.com/products/sakura-pigma-micron-pen/', target: '_blank'
          %li= link_to 'Prismacolor Markers', 
            'http://www.prismacolor.com/products/art-markers/brush-tip-markers', target: '_blank'
          %li= link_to 'Moleskine Large Sketchbook', 
            'http://www.moleskine.com/us/collections/model/product/sketchbook-large', target: '_blank'
    .sidebar-set
      %header
        %h5 Genre
        %ul
          %li Landscape
          %li Urban sketching
          %li Pen & ink
          %li Illustration
  %article.main-column
    %h3.article-header The inspiration behind it
    %p.standfirst
      Since moving to San Francisco in early 2014, I instantly fell in love
      with the city and with the beautiful victorian architecture, the
      diversity of people I saw around me, and the neighboring natural
      monuments.
