%header.project-banner
  <div class="image-wrapper #{t('middleman.slug')}"></div>
  %section.banner
    %h1= t("middleman.name")
    %h5.half-opacity.timeframe= t("middleman.timeframe")
    %p.subtitle= t("middleman.subtitle")
