.about-description {
  @include media($medium-screen) {
    @include span-columns(7 of 12);
    padding-top: $gt-l;
    padding-bottom: $gt-l;
  }
}

.about-title {
  font-size: $f3;
  font-weight: $fw-normal;
}

.about-sidebar {
  @include span-columns(4 of 12);
  @include shift(1);
  padding-top: ($gt-l * 2) + $gt-m;
}

.about-profile-image {
  @include size(100% auto);
}
