footer.footer {
  border-top: 1px solid rgba(black, 0.10);
  padding: $gt-m 0;

  p {
    font-size: $f1;
    color: $light-gray;
  }

  .description {
    @include grid-width(8);
  }

  .contact {
    @include grid-width(4);
  }
}
