footer.footer {
  background: rgb(240, 242, 247);
  padding: $gt-m 0;

  .section-title {
    margin-bottom: $gt-m;
  }

  p {
    font-size: $f1;
  }

  .contact {
    margin-top: 2em;

    p {
      font-size: $f0;
    }

    ul {
      li {
        float: left;
        list-style: none;
        margin-right: ($gt-m + $gt-l) / 2;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: lighten($base-font-color, 10);
          font-size: $f3;

          &:hover {
            color: darken($light-gray, 15);
          }
        }
      }
    }
  }
}
