.grid-item {
  margin-bottom: $gt-m;

  @include media($medium-screen) {
    @include span-columns(4 of 12);
    @include omega(3n);
  }
}

.grid-item-wrapper {
  overflow: hidden;

  img {
    max-height: 250px;
    object-fit: cover;
    width: 100%;
  }
}
