header.header {
  .l-col {
    @include media($medium-screen) {
      margin-top: 1.35em;
    }
  }

  .section-title {
    a {
      color: $base-font-color;
    }
  }

  p {
    font-size: $f1;
    color: $light-gray;
    margin: 0;
  }
}
