article.project-item {
  background: white;
  float: left;
  margin-bottom: $gt-l;
  width: 100%;

  .l-col {
    @include media($medium-screen) {
      margin-top: 4.85em;
    }
  }

  .p-title {
    color: $base-font-color;
    font-family: $body-typeface;
    font-size: ($f4 + $f5) / 2;
  }

  .p-type {
    @extend .half-opacity;
  }

  .p-type,
  .p-timeframe {
    @extend .normal;
    color: $base-font-color;
    font-size: $f00;
  }

  .p-timeframe {
    color: #ccc;
    text-transform: uppercase;
  }

  .p-subtitle {
    font-size: $f1;
    margin-top: $gt-m;
  }

  a {
    color: $base-font-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

article.project-item.empty {
  border: 5px dashed $dark-navy;

  &:hover {
    border-color: lighten($dark-navy, 25);
  }

  a {
    @include display(flex);
    @include align-items(center);
    @include size(100% 260px);
  }

  .text-wrapper-static {
    color: $dark-navy;
    margin: 0 auto;
  }
}
.project-body {
  padding: $gt-l 0;

  aside {
    @include span-columns(3);
    font-family: $display-typeface;
    font-size: $f0;
    margin-top: $gutter-row-v0;

    .sidebar-set {
      margin-bottom: $gt-l;
    }

    ul {
      list-style-type: none;
      margin: $gt-s 0 $gt-l;
      padding-left: 0;

      li {
        margin-bottom: $gt-s;
      }

      a {
        @include jumpline();
      }
    }
  }

  article.main-column {
    @include span-columns(9);
    padding-left: $gt-l;
  }
}

