article.priority-row {
  @include fill-parent();
  overflow: hidden;

  .facebook-item {
    background-color: #3b5998;
    padding: $gt-xxl $gt-l;
    text-align: center;
    color: white;

    @include media($medium-screen) {
      @include span-columns(6 of 12);
    }
  }

  .art-cta-item {
    background-color: #3b5998;
    padding: $gt-xxl $gt-l;
    text-align: center;
    color: white;

    @include media($medium-screen) {
      @include span-columns(6 of 12);
    }
  }

  .person-description {
    @include media($medium-screen) {
      @include span-columns(6 of 12);
    }

    .description {
      font-weight: 400;
      font-size: $f3;
      line-height: 36px;
    }
  }
}

.facebook-item {
  .facebook-title {
    font-weight: 500;
    font-size: $base-font-size;
  }

  .facebook-timeframe {
    font-weight: 400;
    text-transform: none;
    color: rgba(white, 0.5);
  }

  .fa-facebook-official {
    color: white;
    font-size: $f5 * 1.5;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
  }
}

.project-description {
  margin-top: $gt-s;
}

.project-name {
  color: rgba($base-font-color, 0.5);
  font-size: $f0;
  font-weight: $fw-semibold;
}

.project-type {
  @extend .normal;
  @extend .half-opacity;
  color: $base-font-color;
  font-size: $f0;
}

.p-timeframe {
  @extend .normal;
  @extend .half-opacity;
  color: $base-font-color;
}


.p-subtitle {
  margin-top: 0;
  @extend .normal;
  @extend .half-opacity;
  font-size: $f0;
  color: $base-font-color;
  font-family: $sans-serif-typeface;

  a {
    text-decoration: underline;
  }
}

.project-meta-info-list {
  @include fill-parent;
  @include clearfix;
  line-height: $f1;
  margin: 0 auto;
  padding-left: 0;
}

.project-meta-info-item {
  display: inline-block;
  line-height: $f0;

  &:nth-child(2) {
    padding-left: $gt-m;
    position: relative;

    &:before {
      @extend .half-opacity;
      content: "\2022";
      position: absolute;
      left: $gt-xs;
      top: -($gt-xs - 0.1em);
    }
  }
}

.project-index-timeframe {
  display: none;
  background: rgba(black, 0.75);
  bottom: $gt-m;
  color: white;
  position: absolute;
  right:  $gt-m;
  padding: $gt-s;
  font-size: $f00 - 2px;
}

.project-index-image {
  display: block;
  height: auto;
  width: 100%;

  &:hover {
    .project-index-timeframe {
      display: block;
    }
  }
}


.project-preview {
  text-align: center;

  .project-item {
    .p-title {
      font-size: $f3;
    }

    .p-subtitle {
      text-align: left;
    }
  }
}

.project-body {
  padding: $gt-l 0;

  aside {
    @include span-columns(3);
    font-family: $display-typeface;
    font-size: $f0;
    margin-top: $gutter-row-v0;

    .sidebar-set {
      margin-bottom: $gt-l;
    }

    ul {
      list-style-type: none;
      margin: $gt-s 0 $gt-l;
      padding-left: 0;

      li {
        margin-bottom: $gt-s;
      }

      a {
        @include jumpline();
      }
    }
  }

  article.main-column {
    @include media($medium-screen) {
      @include span-columns(9);
      padding-left: $gt-l;
    }
  }
}

