$layout-padding: 2em;

header.masthead {
  border-bottom: 3px solid $dark-navy;

  .container {
    @include outer-container;
    padding: 1em 0;
  }
}

section.container {
  @include outer-container;
  padding-top: 1em;
}

article.project-item {
  @include span-columns(4 of 12);
  @include omega(3n);

  .image-wrapper {
    max-width: 100%;
    max-height: 200px;
    overflow: hidden;
    position: relative;

    img {
      position: relative;
      width: 100%;
      top: -15px;
      height: auto;
    }
  }

  .text-content {
    padding: 0.5em 0;
  }

  a {
    color: white;
  }

  background: $dark-navy;
  border: 10px solid $dark-navy;
  color: white;
  box-sizing: border-box;
  text-align: center;
}

.project-body {
  padding: 2em 0;

  aside {
    @include span-columns(3);
  }

  article.main-column {
    @include span-columns(4);
  }
}
