body {
  @include sticky-footer-body;

  main.container {
    @include sticky-footer-container;
  }
}

.l-col {
  @include grid-width(4);

  @include media($medium-screen) {
    text-align: right;
  }
}

.r-col {
  @include grid-width(6);
}

.outer-container {
  @include outer-container;
  padding: $gt-m;
}

.outer-container-s {
  @include outer-container;
  padding: $gt-m $gt-s;
}

.blockquote {
  @include fill-parent;
  border-top: 4px solid $base-border-color;
  border-bottom: 4px solid $base-border-color;

  .title {
    @extend %byline;
    color: $light-gray;
  }

  blockquote {
    font-size: $f5;
    margin-left: 0;
  }
}
