header.project-banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;

  .image-wrapper {
    @include size(auto 550px);
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 0;

    &.hues-and-views {
      background-image: image_url("hues_and_views/hv-koblenz-2014.JPG");
      background-position: 50%;
    }

    &.neon-labs {
      background-image: image_url("neon_labs/neon-dashboard.png");
      background-position: 50%;
    }
  }

  section.banner {
    @include span-columns(4 of 12);
    background: $dark-navy;
    color: white;
    position: absolute;
    padding: 1em;
    bottom: 20px;
    right: 20px;
  }
}

.project-body {
  @include outer-container;
  padding: 3em 0;

  h4 {
    padding-top: 1em;
  }

  aside {
    @include span-columns(3);
    font-family: $display-typeface;
    font-size: $f0;
    margin-top: $gutter-row-v0;

    .sidebar-set {
      margin-bottom: 2em;
    }

    ul {
      list-style-type: none;
      margin: 0.5em 0 1.0em;
      padding-left: 0;

      li {
        margin-bottom: 0.5em;
      }

      a {
        @include jumpline();
      }
    }
  }
}

.box {
  @include outer-container;
  margin-bottom: 2em;

  &:first-child {
    margin-bottom: 0;
  }
}

article.main-column {
  @include span-columns(9);
  padding-left: 2em;

  &.no-left {
    @include shift(3);
    @include span-columns(7);
  }
}

article.col-2 {
  @include fill-parent;

  .col {
    @include span-columns(6 of 12);
    @include omega(2n);
  }
}

article.col-3 {
  @include fill-parent;

  .col {
    @include span-columns(4 of 12);
    @include omega(3n);
  }
}

figure.image-wrapper {
  @include size(100% auto);

  img {
    width: 100%;
    height: auto;
  }
}
