// Global Assets
$background-color: white;
$border-color: #4C5761;

// Typography
$base-font-color: #444;
$header-font-color: #444;

$display-typeface: 'minion-std-black', $georgia;
$serif-typeface: 'ff-tisa-web-pro', $georgia;
$sans-serif-typeface: 'prenton', $helvetica;
