// Typography
$serif-typeface: 'minion-pro', $georgia;
$sans-serif-typeface: 'jaf-facitweb', $helvetica;

$display-typeface: $sans-serif-typeface;
$body-typeface: $serif-typeface;

// Colors
$dark-navy: #0F2231;
$green: #53B06A;
$light-tan: #F4F3EE;
$light-gray: #9C9C9D;


$base-font-color: $dark-navy;
$base-accent-color: $green;

// Font Sizes
$f0: 14px; // Captions/Small
$f1: 16px; // Smaller descriptions
$f2: 18px; // Body text
$f3: 28px; // Body text header
$f4: 36px;
$f5: 48px; // Page headers

$base-font-size: $f2;

// Global Assets
$background-color: white;
$base-border-radius: em(3);
