%footer.footer
  .outer-container
    .description
      %h4 About me
      %p
        Hello there. I'm Lisa Sy, a digital product designer, front-end
        engineer, and artist based in San Francisco, CA. I specialize in UI/UX
        design, iOS design, HTML/CSS/JS front-end development, best practices
        and semantic markup, Vim, and ink sketching.
      %p
        Want to get coffee or work together? Get in touch by emailing me:
        lisasy[at]gmail.com
      %p
        This website runs on <a href="http://middlemanapp.com/" target="_blank">Middleman</a>, <a href="http://bourbon.io" target="_blank">Bourbon</a>, and <a href="http://neat.bourbon.io" target="_blank">Neat</a>. The source code is on <a href="https://github.com/lisasy/lisasy.github.io" target="_blank">Github</a>.
    .contact
      %h4 Contact
      %ul
        %li= link_to "Github", "https://github.com/lisasy", target: "_blank"
        %li= link_to "Twitter", "https://twitter.com/lisasy", target: "_blank"
        %li= link_to "LinkedIn", "http://www.linkedin.com/pub/lisa-sy/14/46/b70/", target: "_blank"
