%footer.footer
  .outer-container.bd-top
    %p
      This website runs on <a href="http://middlemanapp.com/" target="_blank">Middleman</a>, <a href="http://bourbon.io" target="_blank">Bourbon</a>, and <a href="http://neat.bourbon.io" target="_blank">Neat</a>. The source code is on <a href="https://github.com/lisasy/lisasy.github.io" target="_blank">GitHub</a>.

    .col-2
      .column
        %p
          Want to get coffee or work together?<br />
          Get in touch by emailing me:
          <u>lisasy[at]gmail.com</u>
      .contact.column
        %ul
          %li
            <a href="http://github.com/lisasy" target="_blank">
            <i class="fa fa-github"></i>
            </a>
          %li
            <a href="http://twitter.com/lisasy" target="_blank">
            <i class="fa fa-twitter"></i>
            </a>
          %li
            <a href="http://www.linkedin.com/pub/lisa-sy/14/46/b70/" target="_blank">
            <i class="fa fa-linkedin"></i>
            </a>
          %li
            <a href="http://dribbble.com/lisasy" target="_blank">
            <i class="fa fa-dribbble"></i>
            </a>
