%header.header
  .outer-container.bd-bottom
    %p.header-description.pull-l
      <a href="/" >Lisa Sy</a>
      is a professional designer and artist based in California.
    %nav.site-nav
      %ul.site-nav-list
        %li.site-nav-item
          = link_to "Work", "/"
        %li.site-nav-item
          = link_to "About", "/about"
