%header.header.bd-bottom
  .outer-container-s
    %h4= link_to "Lisa Sy", "/"
    %p.pull-l Digital product designer and artist based in San Francisco, CA
    %p.pull-r.mbl-b.mbl-f-l.f-r Contact: lisasyis[at]gmail.com
