%header.header
  .header-container
    %p.header-description.pull-l
      <a class="focus" href="/" >Lisa Sy</a>
      is a designer and artist based in California.
    %nav.site-nav
      %ul.site-nav-list
        %li.site-nav-item
          = link_to "Work", "/"
        -# %li.site-nav-item
        -#   = link_to "Writing", "/writing"
        %li.site-nav-item
          = link_to "About", "/about"
        %li.site-nav-item
          = link_to "Resources", "/resources"
