%header.header.bd-bottom
  .outer-container-s
    .l-col
      %p.pull-r.mbl-b.mbl-f-l.f-r Contact: lisasyis[at]gmail.com
    .r-col
      %h4.section-title= link_to "Lisa Sy", "/"
      %p.pull-l Digital product designer and artist based in San Francisco, CA
