%aside.navigation
  %nav.navigation-content
    %div.name
      = link_to '/' do
        = image_tag('lisasy-white.png')
    .description
    %ul
      %li= link_to 'Projects', '/projects.html'
      %li= link_to 'About Me', '/about.html'
