%p.intro I am a product designer based in San Francisco, CA. <br> I'd like to empower other people and work towards fostering strong communities.

.paragraph-wrapper
  %p
    Born and raised in the L.A. suburbs, I moved to the Bay Area in June 2013
    after graduating from Wesleyan University with a B.A. in American Studies. These days, I call the Bay my home.

  %h4.section-subhead Things I can do pretty well
  %p Designing for person-driven interests, drawing, coding using Vim (yes, it's faster. and yes, the learning curve is worth it.), optimizing CSS, driving 300-mile stretches from LA to SF by myself, writing humanities-based research papers, offering advice and guidance to others at times.

  %h4.section-subhead Things I want to improve in doing
  %p Designing for person-driven interests, running longer distances, designing interaction for touchscreen devices, mastering Javascript, understanding Math, playing the banjo and guitar.

  %p Let's talk: lisasyis[at]gmail.co
