---
layout: "page"
---

%section.outer-container
  %article.about
    %header.about-header
      %h1.title Curious Human Being
      %h2.subtitle
        My name is Lisa Sy. I am a designer, artist, & front-end developer based in the San Francisco Bay Area. I am a product designer at <a href="http://facebook.com">Facebook</a>.
      .separator-block

    %p I'm passionate about empowering people to understand each other and themselves in compassionate and honest ways. I design products and create art towards this mission.
    %p Previously, I was a product designer at <a href="http://thoughtbot.com" target="_blank">thoughtbot</a> in San Francisco. At thoughtbot, I organized a product design talk series called <a href="http://thoughtbot.com/taco-tuesdays">Taco Tuesdays</a>. I've provided mentorship to designers and engineers assisting them in building their careers.
    %p I graduated from Wesleyan University with an <a href="http://www.wesleyan.edu/amst/">American Studies</a> degree, concentrating in Race and Ethnic Studies. At Wesleyan, I co-founded and ran a student-run design and branding consultancy called <a href="http://lisasy.com/projects/type-club">TypeClub</a>.
    %p I'm proud to call Oakland, California my home. When I'm not designing, you can find me sketching, going to music shows, enjoying the sunshine at Lake Merritt, writing, practicing Cantonese and French, and learning about the world and people through stories.
    %p
      If you would like to hang out or talk about working together, you can
      contact me at <u>lisasyis[at]gmail.com</u>.
