---
layout: "home"
---

%section.outer-container
  %article.about-description
    %h2.about-title Hello there.
    %p
      My name is Lisa Sy. I am a designer and artist based in California. I was
      born and raised in Los Angeles, went to <a href="http://wesleyan.edu" target="_blank">college</a> in the east coast, and now
      I live in the Bay Area. Previously, I was a product designer at <a href="http://thoughtbot.com" target="_blank">thoughtbot</a> in San Francisco.

    %p
      I enjoy living a good and simple life. That means spending time with my
      family and friends, playing and listening to music, writing, studying
      languages, meeting new people, trying out all kinds of creative pursuits,
      partaking in community-building activities, figuring out how to make
      economic and social mobility accessible to people, running, hiking, and
      travelling.

    %p
      If you would like to hang out or talk about working together, you can
      contact me at <u>lisasyis[at]gmail.com</u>.
