---
layout: "home"
---

%section.outer-container
  %article.about-description
    %h2.about-title Hello there.
    %p
      My name is Lisa Sy. I am a designer and artist based in California. I was
      born and raised in Los Angeles, went to <a href="http://wesleyan.edu" target="_blank">college</a> in the east coast, and now
      I live in the Bay Area. In January 2015, I will be a product designer at <a href="http://facebook.com" target="_blank">Facebook</a>. Previously, I was a product designer at <a href="http://thoughtbot.com" target="_blank">thoughtbot</a> in San Francisco.

    %p
      Besides doing design professionally, I also enjoy spending time with my
      family and friends, playing music (banjo), writing, studying languages,
      meeting new people, trying out all kinds of creative pursuits, partaking
      in community-building activities, figuring out how to make economic and
      social mobility accessible to people, running, hiking, and travelling.
