---
layout: "home"
---

%section.outer-container
  %header
    %h1 December 2014
    %p
      I pulled up Google Maps on my computer and looked at a map of America to determine where I’d go. Austin, Chicago, Memphis, Nashville, Atlanta, Philadelphia, and New York City. I’d have three weeks to see these places during the interim period between Thanksgiving and Christmas.
    = image_tag("/img/december/America-Medium.png")
