---
title: Lisa makes things
---

- blog.articles[0..5].each do |article|
  %article.blog-post
    %header
      %h1= article.title
      %h6.timestamp= article.date.strftime("%B %-d, %Y")
    .article-body
      = article.body
