---
title: Lisa makes things
---
%section.container
  - data.projects.projects.each_with_index do |project, index|
    %article.project-item
      =link_to "/projects/#{project.slug}.html" do
        .image-wrapper
          = image_tag(project.main_image_url)
        .text-content
          %h3= project.name
          %h5= project.timeframe
