---
title: Lisa makes things
---

%article.blog-post
  %header
    %h1= blog.articles[0].title
    %h6.timestamp= blog.articles[0].date.strftime("%B %-d, %Y")
  .article-body
    = blog.articles[0].body
