---
layout: "page"
---

%section.outer-container
  %article.resources
    %header.resources-header
      %h1.title Resources
      %h2.subtitle A recommended list of books, essays, </br> videos, and music to inspire creativity and learning
      .separator-block
    %ul.resources-list
      %li
        %h4 "The Web's Grain"
        %p.source Frank Chimero — Essay (2015)
        %p This is a beautiful, capitivating, and thought-provoking digital essay critiquing the technologist's role in creating innovating experiences across the web. <a href="http://frankchimero.com/writing/the-webs-grain/" target="_blank">Read it here.</a>
      %li
        %h4 "Stillness in Motion"
        %p.source Liz Danico — Essay (2014)
        %p In this essay, leading creative figure <a href="https://twitter.com/bobulate" target="_blank">Liz Danico</a> addresses her younger self, telling her things she was she had known years before. She urges for focus, for routine, for deliberateness, and most of all, for the "stillness in motion." <a href="http://bobulate.com/post/98768876979/stillness-in-motion" target="_blank">Read it here.</a>
      %li
        %h4 Bird by Bird: Some Instructions on Writing and Life
        %p.source Anne Lamott — Book (1995)
        %p This book shows the interconnectedness between the practice of writing and the art of living. Lamott presents a lot of practical advice for developing one's writing skills — many of which rely on becoming a more self-aware human being. <a href="http://www.amazon.com/Bird-Some-Instructions-Writing-Life/dp/0385480016" target="_blank">See it on Amazon</a>.
      %li
        %h4 The Design of Everyday Things
        %p.source Donald Norman — Book (1988)
        %p Norman's book is an excellent primer for learning how to design for people's needs. <a href="http://www.amazon.com/The-Design-Everyday-Things-Expanded/dp/0465050654/ref=pd_sim_sbs_b_1?ie=UTF8&refRID=1Q1E73GX4QEZTZ7GNTCH" target="_blank">See it on Amazon.</a>
      %li
        %h4 "Ten Principles of Good Design"
        %p.source Dieter Rams
        %p Design leader Dieter Rams sets out his ten principles of good design.  They're tenets I religiously strive for when designing an experience or a product, digital or otherwise. <a href="https://www.vitsoe.com/us/about/good-design" target="_blank">See what they are.</a>
