---
layout: "home"
---

%section.outer-container
  %article.resources
    %header.resources-header
      %h1.title Resources
      %h2.subtitle Helpful tools and links to help you develop design skills
      .separator-block
    %ul.resources-list
      %li
        %h4 "Ten Principles of Good Design"
        %p.source Dieter Rams
        %p Design leader Dieter Rams sets out ten principles of good design as tenets to strive for in the line of work.
      %li
        %h4 The Design of Everyday Things
        %p.source Donald Norman, 1988 — Book
        %p Excellent primer for learning how to approach designing an experience or product that serve people's needs. <a href="http://www.amazon.com/The-Design-Everyday-Things-Expanded/dp/0465050654/ref=pd_sim_sbs_b_1?ie=UTF8&refRID=1Q1E73GX4QEZTZ7GNTCH" target="_blank">See it here on Amazon.</a>
      %li
        %h4 "Stillness in Motion"
        %p.source Liz Danico, 2014 — Essay
        %p Blog by Liz Danico, a leading figure in the design community. Her blog Bobulate is one that I read religiously.
      %li
        %h4 Bird by Bird: Some Instructions on Writing and Life
        %p.source Anne Lamott, 1995 — Book
        %p Blog by Liz Danico, a leading figure in the design community.
      %li
        %h4 "The Web's Grain"
        %p.source Frank Chimero
        %p An essay on the technologist's role to create experiences and products that roll with the grain.
