%article.block
  %aside
    %h4 Directions:
    %ul
      %li Top
      %li Bottom
      %li Left
      %li Right
  %section.block-content
    %p The <strong>direction</strong> of a toolbar is the relationship between the location of the toolbar and the rest of the interface.
    %ul
      %li
        %article
          .image-content
            = image_tag('toolbar/Toolbar-Top.svg')
          .text-content
            %h4 Top toolbar
            %p Use a <strong>top</strong> toolbar to indicate the highest level of hierarchy in your interface.
      %li
        %article
          .image-content
            = image_tag('toolbar/Toolbar-Bottom.svg')
          .text-content
            %h4 Bottom toolbar
            %p The <strong>bottom</strong> toolbar is featured in mobile and tablet design.

      %li
        %article
          .image-content
            = image_tag('toolbar/Toolbar-Left.svg')
          .text-content
            %h4 Left toolbar
            %p The <strong>left</strong> toolbar is great as a persistent component throughout the site.

      %li
        %article
          .image-content
            = image_tag('toolbar/Toolbar-Right.svg')
          .text-content
            %h4 Right toolbar
            %p The <strong>right</strong> toolbar is great as a persistent component throughout the site.
