%article.component#toolbars
  %header
    %h2 Toolbars
    %h5 Purpose
    %p When people interact with toolbars, they rely on toolbars to guide them in an interactive experience on the web, tablet, or mobile device. Toolbars are almost <em>always</em> present on every interface. The most common types of toolbars are <strong>navigation</strong> and <strong>action</strong>.
  = partial "partials/toolbars/directions"
  = partial "partials/toolbars/types"
  = partial "partials/toolbars/states"
  -# = partial "partials/toolbars/widgets"
